main(){
    var counter: int = 0;
    while(counter < 50){
        counter += 1;

        if(counter == 42){
            print(counter, counter, counter);
        }else if(counter < 10){
            print(counter, counter);
        }else{
            print(counter);
        }
    }
}
