main(){
    var test: int = 0;
    test += 5;
    print(test);
    assert(test == 5);

    test -= 3;
    print(test);
    assert(test == 2);

    test *= 10;
    print(test);
    assert(test == 20);

    test /= 5;
    print(test);
    assert(test == 4);

    test %= 3;
    print(test);
    assert(test == 1);

    test %= 1;
    print(test);
    assert(test == 1);
}